
#style
        .circle {
            position: relative;
            height: 30px;
            width: 51px;
            border-radius: 14px;
            border: 3px solid white;
            left: 50%;
            margin-left: -25px;
            top: -20px;
            background: red;
        }

        .rectangle {
            display: block;
            height: 62px;
            width: 157px;
            background: #2c9956;
            position: relative;
            margin-top: 100px;
            border-top-right-radius: 0em;
            border-top-left-radius: 3em;
            border-bottom-right-radius: 3em;
            box-shadow: 5px 5px 5px gray;
            cursor: pointer;
            /* border-bottom-left-radius: 3em; */
        }
        .circle_count {
            text-align: right;
            font-size: large;
            color: azure;
            padding-right: 7px;
        }
        .freight_text {
            font-size: 14px;
            text-align: center;
            color: white;
            margin-top: -6px;
            font-style: italic;
        }
        .arrow_freight {
            font-size: 40px;
            color: #401919;
            margin-top: 8%;
            padding: 1%;
        }
        .down_arrow {
            height: 77px;
            align-items: end;
            font-size: 42px;
            justify-content: right;
            padding-right: 176px;
            margin-top: 80px;
        }
        .down_arrow_left {
            height: 77px;
            align-items: end;
            font-size: 42px;
            justify-content: left;
            padding-left: 58px;
            margin-top: 80px;
        }
