
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

// // *{
// //     box-sizing: border-box;
// //     outline: none;
// // }

$c_primary :#376dd9;
$c_primary_dark:#002C49;
$c_secoundry :#002147;
$c_green :#138808;
$c_white: #ffffff;
$c_dark: #000000;

:root{
    --primary-color: #0B4A5B;
    --secondary-color: #057977;
    --tertiary-color: #2B054C;
    --light-color: #fff;
    --grey-color: #f1f1f1;
    --dark-color:#000;
}

// .main{
//     padding: 0px;
//     margin: 0px;
//     font-family: 'Poppins', sans-serif;
//     font-size: 1rem;
//     outline:none;
// }

// a{
//     text-decoration: none;
// }
// p,h1,h2,h3{
//     padding: 0px;
//     margin: 0px;
// }

.oe_structure{
    overflow: hidden;
}

.navbar {
    position: static;
    display: flex;
    height: 80px;
    width: 100%;
    background: var(--light-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}

.navbar {
    .logo{
        width: 50px;
        img{
            width: 100;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        margin-bottom: 0px;
        padding: 0px;
        li{
            margin: 0 5px;
            .menu{
                color: rgba(0, 0, 0, 0.87);
                text-decoration: none;
                font-size: 1rem;
                font-weight: 400;
                padding: 8px 8px;
                border-radius: 5px;
                letter-spacing: 1px;
                transition: all 0.3s ease;
                &:hover{
                    background-color: var(--grey-color);
                    color: var(--dark-color);
                }
            }
            .btn{
                color: var(--light-color);
                background-color: var(--tertiary-color);
                padding: 10px 20px;
                border-radius: 10px;
                &:hover{
                    color: var(--light-color);
                    background-color: #2b0548;
                    box-shadow: none;
                }
            }
        }
    }
    .menu-btn{
        .icon{
            color: var(--dark-color);
            font-size: 22px;
            cursor: pointer;
            display: none;
        }
    }
    input[type="checkbox"]{
      display: none;
    }
}


.container-title{
    width: 100%;
    height: 90vh;
    color: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .image{
        position:absolute;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .upper_layer{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.589);
    }
    .title{
        display:flex;
        flex-direction: column;
        width: 80%;
        h1{
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            z-index: 10;
            font-size: 3rem;
            color: #fff;
        }
        p{
            font-family: 'Poppins', sans-serif;
            font-weight: 100;
            z-index: 10;
            font-size: 1rem;
            color: #fff;
        }
    }
}

.img-box{
    padding: 2em;
    .img-data{
        position: relative;
        margin-top: -1em ;
        margin-left: -1em ;

        img{
            transition: 0.5s;
        }

        &::after{
            content: " ";
            width: 100%;
            height: 100%;
            background: linear-gradient(-120deg, rgba(55,217,180,1) 0%, rgba(34,152,151,1) 59%, rgba(8,73,115,1) 100%);
            position: absolute;
            bottom: -2em;
            right: -2em;
            z-index: -1;
        }


    }
    &:hover{
        .img-data{
            img{
                margin-top:-1em ;
                margin-left: -1em ;
                transform: scale(1.05,1.05);
            }

        }

    }
}

.info{
    .column{
        .card{
            height: 100%;
            border: 5px solid transparent;
            transition: 0.5s;
            h5{
                // color:var(--primary-color);
                color: var(--tertiary-color);
                font-weight: 600;
            }

            &:hover{
                // border-color: var(--primary-color);
                background-color: var(--primary-color);
                border-color: var(--tertiary-color);
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.205);
            }
        }
    }
}

.aboutus-section{
    .container{
        .aboutus-content{
            .row{
                .column-1{
                    display: flex;
                    flex-direction:column;
                    justify-content: center;
                    align-items: baseline;

                    .btn{
                        padding: 6px 0px;
                        color: var(--tertiary-color);
                    }
                }
                .column-2{
                    .img-box{
                        .img-data{
                            img{
                                width: 100%;
                            }
                            &::after{
                                background: linear-gradient(90deg, rgba(11,74,91,1) 0%, rgba(43,5,76,1) 100%);
                            }
                        }
                    }
                }
            }
        }
    }
}

.slider{
    // background-color: var(--primary-color);
    // background: linear-gradient(0deg, rgb(5, 121, 119) 0%,  rgba(8,73,115,1) 100%);
    background: radial-gradient(circle, rgba(11,74,91,1) 0%, rgba(43,5,76,1) 100%);
    overflow: hidden;

    .carousel{
        width: 100%;
        .carousel-inner{
            display: flex;
            align-items: center;
            height: 70vh;
            .carousel-item{
                padding: 0px 10%;
                .block{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .contain{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 50%;
                        color: var(--light-color);
                    }
                    .image{
                        width: 45%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.whyus-section{
    .card{
        height: 100%;
        border: 5px solid transparent;
        transition: 0.5s;

        img{
            object-fit: cover;
        }
        .head{
            // color:darken($c_primary, 10%);
            font-weight: 600;
            color: var(--tertiary-color);
        }

        &:hover{
            // border-color: $c_primary;
            border-color: var(--tertiary-color);
            // background-color: $c_primary_dark;
            // box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.205);
        }
    }
}

// .client-comment{
//     .client-slider{
//         .card-box{
//             padding-top: 4em;
//         }
//         .card{
//             padding-top: 2em;
//             position: relative;

//             .user{
//                 position: absolute;
//                 top: 0px;
//                 left: 50%;
//                 transform: translate(-50%,-50%);
//                 font-size: 3em;
//                 background-color: rgb(219, 219, 219);
//                 width: 100px;
//                 height: 100px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 border-radius: 50%;
//                 i{
//                     color: $c_secoundry;
//                 }
//             }
//             .card-body{
//                 text-align: center;
//             }
//         }
//     }
// }

footer{
    background: linear-gradient(90deg, rgba(11,74,91,1) 0%, rgba(43,5,76,1) 100%);
    position: relative !important;
    .container{
        padding-top: 5rem;
        .footer-contain{
            margin-top: 10rem !important;
            .contact-data{
                li{
                    i{
                        position: absolute;
                        margin-top: 5px;
                        font-size: 1em;
                    }
                    .contact-contain{
                        margin-left: 30px;
                    }
                }
            }
            .column{
                li{
                    padding-bottom: 8px;
                }
                form{
                    gap: 10px 0px;
                }
            }
        }
    }
}

.wave {
    position: absolute;
    width: 100%;
    padding-top: 12%;
    top: -5px;
    left: 0;
    background-image: url('../img/wave.png');
    background-repeat: repeat-x;
    background-size: 100%;
    animation: wave 8s linear infinite;
  }
  .wave::before {
    content: '';
    position: absolute;
    width: 100%;
    padding-top: 12%;
    top: -5px;
    left: 0;
    background-image: url('../img/wave.png');
    background-repeat: repeat-x;
    background-size: 100%;
    opacity: .2;
    animation: wave-reverse 8s linear infinite;
  }
  .wave::after {
    content: '';
    position: absolute;
    width: 100%;
    padding-top: 12%;
    top: -5px;
    left: 0;
    background-image: url('../img/wave.png');
    background-repeat: repeat-x;
    background-size: 100%;
    opacity: .8;
    animation-delay: -4s;
    animation: wave 16s linear infinite;
  }
  @keyframes wave {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 100vw;
    }
  }
  @keyframes wave-reverse {
    0% {
      background-position: 100vw;
    }
    100% {
      background-position: 0;
    }
  }


// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

    .navbar{
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        ul{
            align-items: center;
            li{
                .menu{
                    font-size: 0.8rem;
                }
                .btn{
                    font-size: 0.8;
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .o_header_standard{
        position: static;
    }
    .navbar {
        padding: 0px 5%;
        .menu-btn{
            .icon{
                display: block !important;
            }
        }
        ul{
            position: fixed;
            top: 120px;
            left: -100%;
            z-index: 20;
            background: var(--light-color);
            height: 100vh;
            width: 100%;
            text-align: center;
            display: block;
            transition: all 0.3s ease;
            li{
                width: 100%;
                margin: 0px;
                .menu{
                    font-size: 1rem;
                }
                a{
                    width: 100%;
                    margin-left: -100%;
                    display: block;
                    font-size: 1rem;
                    padding: 25px;
                    // transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    &:hover{
                        background-color: none;
                        font-size: 1.2rem;
                    }
                }
                .btn{
                     // display: none;
                    width: 100%;
                    margin-left: -100%;
                    display: block;
                    font-size: 1rem;
                    font-weight: 400;
                    padding: 25px;
                    color: rgba(0, 0, 0, 0.87);
                    background-color: var(--light-color);
                    font-size: 1rem;
                    // transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    &:hover{
                        font-size: 1.2rem;
                        background-color: var(--grey-color);
                        color: var(--dark-color);
                    }
                }
            }
        }
    }
    #click:checked ~ .menu-btn .icon:before{
        content: "\f00d";
        }
        #click:checked ~ ul{
        left: 0;
        }

        #click:checked ~ ul li a{
        margin-left: 0px;
        padding: 25px;
        }
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 770.98px) {

    .navbar{
        flex-direction: row;
        justify-content: space-between;
        ul{
            li{
                border: 1px solid #f1f1f1;
            }
        }
    }

    footer{
        .footer-contain{
            margin-top: 4rem !important;

            .sitemap_block, .contact_block{
                margin-top: 4rem;
            }

        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    // .slider{
    //     .block{
    //         // flex-direction: column-reverse;
    //     }
    //     .contain{

    //     }
    // }
    .slider{
        .carousel{
            .carousel-indicators{
                margin-bottom: 30px;
            }
            .carousel-inner{
                padding-top: 10px;
                .carousel-item{
                    .block{
                        flex-direction: column-reverse;
                        gap: 2rem;
                        .image{
                            width: 80%;
                        }
                        .contain{
                            width: 95%;
                            align-items: center;
                            h1{
                                font-size: 1.5rem;
                            }
                            p{
                                font-size: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 575.98px) {

}


