
.row{
  display: flex;
  justify-content: center;
  gap: 60px 0px;
}

.circle {
  position: relative;
  height: 30px;
  width: 51px;
  border-radius: 14px;
  border: 3px solid white;
  left: 50%;
  margin-left: -25px;
  top: -20px;
  background: red;
}

.down_arrow {
    font-size: 45px;
    padding-right: 176px;
}

.rectangle {
  display: block;
  height: 62px;
  width: 157px;
  background: #2c9956;
  position: relative;
  margin-top: 12px;
  border-top-right-radius: 0em;
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
  box-shadow: 5px 5px 5px gray;
  cursor: pointer;
}
.circle_count {
  text-align: right;
  font-size: large;
  color: azure;
  padding-right: 7px;
}
.freight_text {
  font-size: 14px;
  text-align: center;
  color: white;
  margin-top: -6px;
  font-style: italic;
}
.arrow_freight_right {
  // display: none;
  font-size: 40px;
  color: #401919;

}
.arrow_freight_left {
  display: none;
  transform: rotate(180deg);
  font-size: 40px;
  color: #401919;

}
.arrow_freight_down {
  display: none;
  transform: rotate(90deg);
  position: absolute;
  left: 40%;
  bottom: -100%;
  font-size: 40px;
  color: #401919;
}


.col2{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 225px;

  &:nth-child(5n){

    .arrow_freight_right{
      display: none;
    }

  }

  &:nth-child(6){

    .arrow_freight_down {
      display: block;
    }
  }

  &:nth-child(5){

    .arrow_freight_down {
      display: block;
    }

  }

  &:nth-child(6),&:nth-child(7),&:nth-child(8),&:nth-child(9){
    .arrow_freight_right{
      display: none;
    }

    .arrow_freight_left {
      display: block;
    }
  }
}

@media (max-width: 1399.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

  .col2{
    //reset the css
    &:nth-child(n){
      .arrow_freight_right {
        display: block;
      }
      .arrow_freight_left {
        display: none;
      }
      .arrow_freight_down {
        display: none;
      }
    }


    //ordering
    &:nth-child(1){order: 0;}
    &:nth-child(2){order: 1;}
    &:nth-child(3){order: 2;}
    &:nth-child(4){order: 3;}
    &:nth-child(5){order: 7;}
    &:nth-child(6){order: 9;}
    &:nth-child(7){order: 8;}
    &:nth-child(8){order: 4;}
    &:nth-child(9){order: 5;}
    &:nth-child(10){order: 6;}
    &:nth-child(11){order: 10;}
    &:nth-child(12){order: 11;}
    &:nth-child(13){order: 14;}
    &:nth-child(14){order: 13;}
    &:nth-child(15){order: 12;margin-left: 225px;}


    &:nth-child(4),&:nth-child(5),&:nth-child(12),&:nth-child(13){
      .arrow_freight_right {
        display: none;
      }
    }

    &:nth-child(8),&:nth-child(9),&:nth-child(10),&:nth-child(15),&:nth-child(14){
      // background-color: rebeccapurple;
      .arrow_freight_right {
        display: none;
      }
      .arrow_freight_left {
        display: block;
      }
    }

    &:nth-child(4),&:nth-child(8),&:nth-child(12){
      // background-color: #2c9956;
      .arrow_freight_down {
        display: block;
      }
    }
  }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 770.98px) {
  .col2{
    //reset the css
    &:nth-child(n){
      .arrow_freight_right {
        display: block;
      }
      .arrow_freight_left {
        display: none;
      }
      .arrow_freight_down {
        display: none;
      }
    }


    //ordering
    &:nth-child(1){order: 0;}
    &:nth-child(2){order: 1;}
    &:nth-child(3){order: 2;}
    &:nth-child(4){order: 5;}
    &:nth-child(5){order: 4;}
    &:nth-child(6){order: 11;}
    &:nth-child(7){order: 8;}
    &:nth-child(8){order: 7;}
    &:nth-child(9){order: 6;}
    &:nth-child(10){order: 3;}
    &:nth-child(11){order: 10;}
    &:nth-child(12){order: 9;}
    &:nth-child(13){order: 12;}
    &:nth-child(14){order: 13;}
    &:nth-child(15){order: 14;margin-left: 0px;}

    &:nth-child(3),&:nth-child(4),&:nth-child(7),&:nth-child(6),&:nth-child(15){
      // background-color: rebeccapurple;
      .arrow_freight_right {
        display: none;
      }
    }

    &:nth-child(10),&:nth-child(5),&:nth-child(12),&:nth-child(11){
      // background-color: rebeccapurple;
      .arrow_freight_right {
        display: none;
      }
      .arrow_freight_left {
        display: block;
      }
    }

    &:nth-child(3),&:nth-child(10),&:nth-child(7),&:nth-child(12){
      // background-color: rebeccapurple;
      .arrow_freight_down {
        display: block;
      }
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .col2{
    //reset the css
    &:nth-child(n){
      .arrow_freight_right {
        display: none;
      }
      .arrow_freight_left {
        display: none;
      }
      .arrow_freight_down {
        display: block;
      }
    }


    //ordering
    &:nth-child(1){order: 0;}
    &:nth-child(2){order: 1;}
    &:nth-child(3){order: 2;}
    &:nth-child(4){order: 3;}
    &:nth-child(5){order: 4;}
    &:nth-child(6){order: 9;}
    &:nth-child(7){order: 8;}
    &:nth-child(8){order: 7;}
    &:nth-child(9){order: 6;}
    &:nth-child(10){order: 5;}
    &:nth-child(11){order: 10;}
    &:nth-child(12){order: 11;}
    &:nth-child(13){order: 12;}
    &:nth-child(14){order: 13;}
    &:nth-child(15){order: 14;margin-left: 0px;}


    &:nth-child(15){
      // background-color: #2c8128;
      .arrow_freight_down {
        display: none;
      }
    }

  }
}
@media (max-width: 575.98px) {

}